body{
    background-image:url("/img/background.jpg")
}

.container{
    background-color: rgba(0, 0, 0, 0.692);
    margin: 50px auto;
    width: 420px;
    padding-bottom: 1px;
   

    text-align: center;

}
.bottomText{
    text-align: left;
 
}
.dataFrame{
   margin: 20px;


}
.loginT{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    margin: 12px;
   
}
.f{
    text-align: left;
}

label,a{
    text-size-adjust: 25px;
    color:aliceblue;
    text-decoration: none;
    text-align: left;
   width: -webkit-fill-available;
   margin: 20px;
}
input{
    width:-webkit-fill-available;
    margin: 15px;
    height: 23px;
}
button{
    text-align: center;
    color: white;
    background-color: #c70707;
    border-radius: 42px;
    width: -webkit-fill-available;
    margin: 35px;
    height: 40px;
}
